#board{
	background-color:red;
	height: 33.333vh;
	width: 33.333vh;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}
.tile{
	background-color: #eeeeee;
	height: calc(100% / 12);
	width: calc(100% / 12);
	position: relative;
	display: inline-block;
	margin: 0;
	margin-bottom: -5px;
	padding: 0;
}
.tile.selected{
	background-color: #333333;
}