<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" type="text/css" href="./assets/css/materialize.min.css"> -->
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<title>ICV shortest path app</title>
</head>
<body ng-app="PathFinder">
	<div ng-controller="MessagesController" id="messages" ng-cloak>
		<div class="message" ng-repeat="message in messages" ng-class="message.type">{{message.text}}<span class="close" ng-click="close(message)">X</span></div>
	</div>
	<div id="sidebar" ng-controller="SidebarController">
		<div class="button" ng-click="start()" ng-class="{active: clicked=='start'}">Start</div>
		<div class="button" ng-click="end()" ng-class="{active: clicked=='end'}">End</div>
		<div class="button" ng-click="go()" ng-class="{active: clicked=='go'}">Go</div>
		<div class="button" ng-click="test()" ng-show="advanced" ng-cloak>Fill board</div>
		<div class="button" ng-click="reset()" ng-show="advanced" ng-cloak>Reset board</div>
		<div class="button" ng-click="toggleSettings()" ng-class="{active: clicked=='settings'}">Settings</div>
		<form ng-show="clicked=='settings'" ng-cloak>
			<div class="formLine" ng-repeat="(key, value) in colors"><label for="color{{key}}">{{key}}:</label><input type="text" ng-model="colors[key]" id="color{{key}}"></div>
			<div class="button" ng-click="advancedMode()">Advanced Mode</div>
		</form>
	</div>

	<div id="board" ng-controller="BoardController" ng-cloak>
		<div ng-repeat="i in size * size | range" 
			class="tile" ng-class="{start:($index==points.start), end:($index==points.end)}"
			ng-click="tileClicked($index)"
			ng-style="{'background-color': getColorFor($index)}">
		</div>
	</div>


	<!-- <script type="text/javascript" src="./assets/js/materialize.min.js"></script> -->
	<script type="text/javascript" src="./assets/js/angular.min.js"></script>
	<script type="text/javascript" src="./assets/js/app/app.js"></script>
	<script type="text/javascript" src="./assets/js/app/filters.js"></script>
	<script type="text/javascript" src="./assets/js/app/services.js"></script>
	<script type="text/javascript" src="./assets/js/app/controllers/indexControllers.js"></script>
</body>
</html>