<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <link rel="stylesheet" type="text/css" href="./assets/css/materialize.min.css"> -->
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<title>ICV shortest path app</title>
</head>
<body ng-app="PathFinder">

	<div id="sidebar" ng-controller="SidebarController">
		<div class="button" ng-click="start()" ng-class="{active: clicked=='start'}">Start</div>
		<div class="button" ng-click="end()" ng-class="{active: clicked=='end'}">End</div>
		<div class="button" ng-click="go()" ng-class="{active: clicked=='go'}">Go</div>
		<div class="button" ng-click="test()">Fill board</div>
	</div>

	<div id="board" ng-controller="BoardController">
		<div ng-repeat="i in size * size | range" 
			class="tile" ng-class="{selected: tiles[$index].selected, start:($index==startIndex), end:($index==endIndex), path:path.indexOf($index)!=-1}"
			ng-click="tileClicked($index)">
		</div>
		<div style="position: absolute;top:-30px">{{steps}}</div>
	</div>

	<!-- <script type="text/javascript" src="./assets/js/materialize.min.js"></script> -->
	<script type="text/javascript" src="./assets/js/angular.min.js"></script>
	<script type="text/javascript" src="./assets/js/app.js"></script>
	<script type="text/javascript" src="./assets/js/filters/filters.js"></script>
	<script type="text/javascript" src="./assets/js/controllers/boardController.js"></script>
	<script type="text/javascript" src="./assets/js/controllers/sidebarController.js"></script>
</body>
</html>